/* TareaCard.css */
.TareaCard {
    height: 200px;
    width: 325px;
    background-color: white;
    border-radius: 2.5%;
    margin: 5px;
    padding: 20px;
    border: 1px solid #E4901C; /* Naranja */
    transition: background-color 0.3s;
}

.TareaCard h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E4901C; /* Naranja */
    text-decoration: underline;
}

.TareaCard h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #A3753A; /* Marrón claro */
}

.TareaCard p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #A3753A; /* Marrón claro */
}

.checkTarea {
    cursor: pointer; 
    height: 50px; 
    width: 50px;
}
