#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #E4901C; /* Naranja */
  height: 100px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

footer {
  display: grid;
  place-items: center;
  background-color: #A3753A; /* Marrón claro */
  color: white;
  font-size: x-large;
  height: 100px;
  width: 100%;
}

h1 {
  color: #D1BFA5; /* Beige claro */
}

p {
  color: #D1BFA5; /* Beige claro */
}

.Secciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  font-size: xx-large;
  color: #D1BFA5; /* Beige claro */
}

a {
  text-decoration: none;
}

.BotonIs {
  flex: 1;
  background-color: #F2BC41; /* Amarillo dorado claro */
  text-align: center;
  padding: 5px;
  color: #E4901C; /* Naranja */
  font-size: x-large;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  border-radius: 5%;
  margin-left: 5px;
}

.BotonCc {
  flex: 1;
  background-color: transparent;
  text-align: center;
  padding: 5px;
  color: #D1BFA5; /* Beige claro */
  font-family: "Lexend", sans-serif;
  font-size: x-large;
  border: 1px solid #D1BFA5; /* Beige claro */
  border-radius: 5%;
  text-decoration: underline #E4901C; /* Naranja */
  margin-right: 5px;
}
